<div class="container">
   <div>
    <h1><font face="Algerian">Ü30-Party</font></h1>
   </div>
   <div class="container">
       <div class="col-12">
           <div class="row">
            <div class="col-2">
                <div>
                 <a href="samstag">
                     <img src="../../assets/imgs/samstag.GIF" class="img-fluid" alt="Responsive image">
                 </a>
                </div>
            </div>
            <div class="col-7">
                <div class="heading">
                    <p>
                     <font face="Algerian">!!!&nbsp; Ü30-Party&nbsp; Jeden 1.Samsatag im Monat !!! </font>
                    </p>
                </div>
            </div>
            <div class="col-2">
                <a href="kutschn">
                    <img src="../../assets/imgs/kutsche.GIF" class="img-responsive" alt="Responsive image">
                </a>
            </div>
           </div>
          
       </div>
       <div class="main-content">
           <h2><b>Öffnungszeiten:&nbsp;&nbsp; 21:00 - 05:00 Uhr</b></h2>
           <br>
           <p style="font-size: x-large;"><b>Jeden ersten Freitag im Monat kommen alle Fans der Rock-Klassiker<br>
            auf ihre Kosten! Auf unseren Ü30-Parties spielen wir<br>
            Klassiker von Dancerock bis Metal, von damals bis heute!</b></p>
            <p style="color: #ff0000;">Bitte beachtet: Dieser Abend soll wirklich 
                den &quot;jung Gebliebenen&quot; gehören und ist nicht für das jüngere Party-Volk 
                gedacht!<br>Selbstverständlich sind jedoch unsere Stammgäste jederzeit herzlich willkommen !</p>

       </div>
   </div>
</div>
