<div class="container">
    <div>
        <h1><font face= "Algerian">Köchinger Rauschkutschn</font></h1>
    </div>
    <div>
        <h3><font face= "Algerian">*** Hol- und Heimfahr-service ***</font></h3>
    </div>
    <div>
        <p><b>
            ...wieder mal auf einer Party hängen 
	geblieben, keiner kann mehr fahren und aber unbedingt &quot;nu auf Keching mecha&quot; 
	...? oder
       ... &quot;nu z'Keching blimm&quot; und kein Fahrer weit und breit mehr in Sicht...?
    </b></p>
    </div>
    <div>
        <p><b>Das kann euch zukünftig nicht mehr 
            passieren, denn ab sofort ist an jedem Abend an dem wir geöffnet haben, 
            unsere Rausch-Kutschn im Einsatz. Diese holt Euch ab und bringt Euch auch 
            wieder nach Hause - und das alles für ein kleines Taschengeld. Einfach 
            anrufen...!</b></p>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <a href="U30">
                        <img src="../../assets/imgs/ue30.GIF" class="img-fluid" alt="Responsive image">
                    </a>

                </div>
                <div class="col-6 contact">
                    <p><b>Kontakt:</b></p>
                    <p><b>0171 / 82 15 82 1</b> oder <b> 0170 / 6248 
                        03 0</b></p>

                </div>
                <div class="col-3">
                    <a href="samstag">
                        <img src="../../assets/imgs/samstag.GIF" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
               
            </div>

        </div>
        <div >
            <p><b>Köchinger Rauschkutschn</b></p>
        </div>


    </div>

</div>
