h1{
    color: #fff;
    text-align: center;
    
}
h3{
    color: #FF0000;
    text-align: center;
}
p{ 
    color: #fff;
    text-align: center;
}
.contact{
    font-size:  larger;
}
.footer{
    text-align: center;
}